composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
.env
.DS_Store
/node_modules
/storage
composer.json
composer.lock
storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
storage/logs/laravel.log
/bootstrap
bootstrap/cache/packages.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
composer.lock
public/upload/gallery/51/photo/671f51f1dd3bb.jpg
